input::-webkit-input-placeholder {
  color: #838383;
  font-size: 20px;
  line-height: 30px;
}
input::-moz-placeholder {
  color: #838383;
  font-size: 20px;
  line-height: 30px;
}
input::-ms-input-placeholder {
  color: #838383;
  font-size: 20px;
  line-height: 30px;
}
input::placeholder {
  color: #838383;
  font-size: 20px;
  line-height: 30px;
}

input[type="checkbox"] {
  height: 20px;
  width: 20px;
}

.page {
  margin: 0 auto;
  min-width: 1100px;
  max-width: 1600px;
  font-family: "Inter", Arial, sans-serif;
  /* font-family: "Noto Serif", "Times New Roman", serif; */
  font-size: 16px;
  line-height: 20px;
}
