.recipes {
  display: flex;
  flex-direction: column;
  background-color: #0a2750;
  background-image: url(../images/background_recipes.svg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
}

.recipes__title {
  max-width: 580px;
  margin: 100px 0 0 80px;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
}

.recipes__subtitle {
  max-width: 428px;
  margin: 24px 0 0 80px;
  font-family: "Noto Serif", "Times New Roman", serif;
  font-size: 20px;
  line-height: 30px;
}

.recipes__videos {
  display: flex;
  justify-content: center;
  gap: 40px;
}

.recipes__iframe {
  width: 480px;
  height: 273px;
  border: 0;
  margin: 80px 0 0;
}

.recipes__video-caption {
  display: flex;
  justify-content: space-between;
  width: 480px;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
}

.recipes__video-caption_block {
  margin: 24px 0 215px;
}

.recipes__video-caption_block:nth-child(2) {
  justify-content: right;
}
